<ul>
  <li><%= @customer.name %></li>
  <li><%= @customer.code %></li>
  <li><%= @customer.email %></li>
  <li><%= @customer.mobile %></li>
  <li><%= @customer.phone %></li>
</ul>



<%= link_to "Home", customers_path %>
