<tr>
  <td>
    <%= proposal.quote_num %>
  </td>
  <td>
    <%= proposal.created_at %>
  </td>
  <td>
    <%= proposal.name %>
  </td>
  <td>
    <%= proposal.customer.name%>
  </td>
  <td style="display:flex;justify-content:flex-end;">
    <%= link_to "View", proposal_path(proposal), class: "btn-flat" %>
  </td>
</tr>
