<h3>Edit Proposal</h3>

<div class="container">
  <%= simple_form_for @proposal, html: { class: "proposal-form" } do |f| %>
    <div class="proposal-info">
      <label>
        Name
        <%= f.input :name, required: true, label: false%>
      </label>
      <label>
        Due Date
        <%= f.input :due_date, required: true, label: false %>
      </label>
    </div>
    <div class="proposal-address">
      <label>
        Address
        <%= f.input :shipping_address, label: false %>
      </label>
      <label>
        Postal Code
        <%= f.input :postal_code, label: false %>
      </label>
      <label>
        City
        <%= f.input :shipping_city, label: false %>
      </label>
      <label>
        Province
        <%= f.input :shipping_province, label: false %>
      </label>
      <label>
        Country
        <%= f.input :shipping_country, :as => :text, label: false %>
      </label>
    </div>
    <div class="pvgis-info">
      <%= f.simple_fields_for @proposal.consumptions.new do |consumption| %>
      <% end %>
      <%= link_to_add_association 'Add String', f, :consumptions %>
    </div>
    <label class="btn-flat">
      Upload Location Image
      <span style="display:none;">
        <%= f.file_field :building_photo %>
      </span>
    </label>
    <div class="proposal-create-button">
      <%= link_to 'Back', proposals_path, class: 'btn-back' %>
      <%= f.button :submit, class: 'btn-flat', style: "height:auto;"%>
    </div>
    <% end %>
</div>
